<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Camera Project</title>
        </head>

<body>
    <center><h1>Live Capture from UP<sup>2</sup> Extreme</h1>
        <hr>
    <div>
        <img src="{{ url_for('video') }}" width="45%"/>
        <img src="{{ url_for('video') }}" width="45%"/>
    </div>
    <br><br>
    <div>
    <img src="{{ url_for('video') }}" width="45%"/>
    <img src="{{ url_for('video') }}" width="45%"/>
    </div>
    <br>

    </center>

    
    </body>
</html>

