<!DOCTYPE html>
<html>


<body>
    <br><br><br><br>
    <br><br><br><br>
    <center>
        <form action="#" method="post">
            <label for="">Lane 1 : &nbsp;</label> 
            <input type="text" name="lane1" id="lane1"><br>
            <label for="">Lane 2 : &nbsp;</label> 
            <input type="text" name="lane2" id="lane2">
            <input type="submit" name="submit" id="">
        </form>
    </center>
    <!-- 
    <center><h1>Live Capture from UP<sup>2</sup> Extreme</h1>
        <hr>
    <div>
        <img src="{{ url_for('video') }}" width="45%"/>
        <img src="{{ url_for('video2') }}" width="45%"/>
    </div>
    <table style="width : 100%"> 
        <tr>
            <td> Number of vehicle : {{ result }} </td>
            <td> Number of vehicle : {{ result }} </td>
        </tr>
    </table>
    <br><br>
    <div>
    <img src="{{ url_for('video3') }}" width="45%"/>
    <img src="{{ url_for('video4') }}" width="45%"/>
    </div>
    <br>
    <table style="width : 100%"> 
        <tr>
            <td> Number of vehicle : {{ result }} </td>
            <td> Number of vehicle : {{ result }} </td>
        </tr>
    </table>
    </center>
    -->
    </body>


</html>